.fest-container {
    display: flex;
    width: 747px;
    height: fit-content;
    padding-bottom: 20px;
    background-color: white;
    justify-content: center;
    flex-direction: column;
}

.fest-info-container {
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fest-info-container > .fest-info-cell {
    margin: 20px 0 0 0;
    width: 700px;
    height: 318px;
    border: 1px solid black;
}

.fest-info-container > .fest-info-cell > img {
    margin: 20px 0 0 20px;
}

.fest-info-container > .fest-info-cell > #description {
    padding: 0 10px 0 20px;
}

.fest-info-container > .fest-info-cell > h1 {
    color: black;
    font-size: 22px;
    font-weight: medium;
    margin: 0;
    padding: 0;
}

.fest-info-container > .fest-info-cell > p {
    color: #707070;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.fest-title {
    margin-top: 20px;
    margin-left: 20px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.fest-title > #title {
    margin-left: 20px;
}

.fest-button {
    display: flex;
    margin: 50px;
    justify-content: space-between;
}

